<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{candidato.login}">Login Candidato</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav>
        <a th:if="${session.empresaId == null and (session.admin == null or session.admin == false) and session.candidatoId == null}" th:href="@{/login}" th:text="#{nav.login}">Login</a>
        <a th:if="${session.candidatoId == null}" th:href="@{/login(role='candidate')}" th:text="#{candidato.login}">Login Candidato</a>
        <a th:if="${session.candidatoId == null}" th:href="@{/candidato/register}" th:text="#{candidato.register}">Registrar Candidato</a>
        <a th:if="${session.empresaId != null}" th:href="@{/empresa/vagas}" th:text="#{empresa.painel}">Painel da Empresa</a>
        <a th:if="${session.admin == true}" th:href="@{/admin/empresas}" th:text="#{admin.painel}">Painel da Administração</a>
        <a th:if="${session.empresaId != null or (session.admin != null and session.admin == true) or session.candidatoId != null}" th:href="@{/logout}" th:text="#{nav.sair}">Sair</a>
    </nav>
</header>
<main>
    <section class="card">
        <h1 th:text="#{candidato.login}">Login do Candidato</h1>
        <form th:action="@{/login}" method="post" autocomplete="on">
            <input type="hidden" name="role" value="candidate" />
            <label for="username" th:text="#{candidato.email}">E-mail</label>
            <input type="email" id="username" name="username" required autofocus>

            <label for="password" th:text="#{candidato.senha}">Senha</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" th:text="#{btn.entrar}">Entrar</button>
        </form>
        <div th:if="${errorMessageCode}" class="error-message" th:text="#{${errorMessageCode}}"></div>
        <p th:text="#{msg.aindaNaoTemConta}">Não possui cadastro?</p>
        <a th:href="@{/candidato/register}" th:text="#{candidato.register}">Faça seu cadastro</a>
    </section>
</main>
</body>
</html>
