<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Estágios</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Sistema para Candidatura e Seleção de Vagas de Estágio</h1>
    <p>Projeto T5 com Spring MVC, Thymeleaf, JPA, Spring Data JPA e REST API.</p>
</header>

<main>
    <section class="card">
        <h2>Vagas públicas</h2>
        <a href="/vagas">Visualizar vagas</a>
    </section>

   
</main>
</body>
</html>
